// $white: #ffffff;
// $dark-white-font: #494343;
// $green-bk: #32ff6a;

$green-bk: #1283da;
$white: #fff;
$black: #000;
$tan-bk: #f7edd5;
$red-btn: #f95959;
$font-color: #bbb;
$auto-convert-bk: #000000d9;
$box-shadows: #00000033;
